<div style="text-align: center">
  <%= image_tag "techsupport-banner.jpg", :id => 'bannerimage' %>
</div>
<div class="title">
	<h2>What We Do</h2>
	<span class="byline">
	We provide remote technical support and offer mail in repair services!
	
	Most software problems can be fixed remotely with a call or chat. We use video chat as well and remote login 
	applications to troubleshoot your device. Our staff is patient and friendly so no need to worry about feeling like
	you're not "tech savvy".
	
	We offer support for computers, laptops, tablets, phones, printers, and internet services. Our trained staff
	will diagnose your device and determine if your issues are related to hardware or software.
	</span>
</div>

<div class="title">
	<span class="byline">
	Our Remote Tech Support Services Include:
System Performance, Virus Removal, Backup Assistance, Hardware Repair, System Performance, Wireless Connectivity, Network & Internet, Power & Charging.
	</span>
</div>


  <div class="figure">
    <figure><%= image_tag "innovation.png", :id => 'circleImg' %> <figcaption><%= link_to "Innovation", "/terms" %></figcaption></figure>
    <figure><%= image_tag "quality.png", :id => 'circleImg' %> <figcaption><%= link_to "Quality", "/terms" %></figcaption></figure>
    <figure><%= image_tag "experience.png", :id => 'circleImg' %> <figcaption>Experience</figcaption></figure>    
    <figure><%= image_tag "team.png", :id => 'circleImg' %> <figcaption>Team</figcaption></figure>
    <figure><%= image_tag "support.png", :id => 'circleImg' %> <figcaption>Support</figcaption></figure>
    
  </div>
  
  
  
